<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<display-name>HystrixRequestContextServletFilter</display-name>
		<filter-name>HystrixRequestContextServletFilter</filter-name>
		<filter-class>com.netflix.hystrix.contrib.requestservlet.HystrixRequestContextServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HystrixRequestContextServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>HystrixRequestLogViaResponseHeaderServletFilter</display-name>
		<filter-name>HystrixRequestLogViaResponseHeaderServletFilter</filter-name>
		<filter-class>com.netflix.hystrix.contrib.requestservlet.HystrixRequestLogViaResponseHeaderServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HystrixRequestLogViaResponseHeaderServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamServlet</display-name>
		<servlet-name>HystrixMetricsStreamServlet</servlet-name>
		<servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamPublisher</display-name>
		<servlet-name>HystrixMetricsStreamPublisher</servlet-name>
		<servlet-class>com.netflix.hystrix.contrib.metrics.eventpublisher.HystrixMetricsStreamPublisher</servlet-class>
		<init-param>
			<param-name>pollerDelay</param-name>
			<param-value>550</param-value>
		</init-param>
		<init-param>
			<param-name>publishUrl</param-name>
			<param-value>http://localhost:9090/hystrix.publish</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamServlet</servlet-name>
		<url-pattern>/hystrix.stream</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamPublisher</servlet-name>
		<url-pattern>/hystrix.publisher</url-pattern>
	</servlet-mapping>
</web-app>
